* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7
}
main {
    flex-grow: 1;
}
a {
    color: #ffffff;
    text-decoration: none;
    font-family: system-ui,
        -apple-system, 'Helvetica Neue', Arial,
        sans-serif;
    transition: 0.5s;
}

#logo{
    color: #f3f3f3;
    background-color: #c00000;
}

a:hover {
    transform: scale(1.1);
    background-color: #f3f3f3;
    color: #c00000;
    border-radius: 5px;
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#header {
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c00000;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}



.footer{
    background-color: #23232e;
    position: fixed;
    width: 100%;
    height: 100%;
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons i{
    font-size: 2em;
    color: #23232e;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #23232e;
    transition: 0.5s;
}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0;
    text-decoration: none;

}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: disc;
    
}

.footerNav ul li{
    list-style: none;
}

.footerNav ul li a{
    color: #f3f3f3;
    margin: 20px;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    background-color: #23232e;
    opacity: 1;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }

    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }

} 

@media (max-width: 630px) {
    #btn-mobile {
        display: block;
        color: #ffffff;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #23232e;
        height: 0px;
        transition: .6s;
        z-index: 9999;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem .1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #menusus {
        color: #ffffff;
        border-top: 2px solid;
        width: 20px;
    }

    #menusus::after,
    #menusus::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background: currentColor;
        transition: .3s;
        position: relative;
    }

    #nav.active #menusus {
        border-top: transparent;

    }

    #nav.active #menusus::before {
        transform: rotate(135deg);
    }

    #nav.active #menusus::after {
        transform: rotate(-135deg);
        top: -7px;
    }

}

